.result-panel {
    margin-top: 20px;
}

.table-panel {
    display: inline-block;
    width: 76%;
    margin-bottom: 60px;
}

#toggle-sample-view {
    display: none;
}

.search-results {
    width: 100%;
}

table.result-table.table-bordered {
    border: 1px solid var(--boder-grey);
}

.result-table > thead > tr {
    height: 65px;
}

.result-table > thead > tr > th, .result-table > tbody > tr > td {
    vertical-align: middle;
    text-align: left;
    padding: 10px 15px;
}

.toggle-select-all:hover {
    cursor: default;
}

.category-panel {
    display: inline-block;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
}

.cell-types {
    display: none;
}

.category-name {
    font-weight: bold;
}

a.subcategory-name {
    color: var(--black);
    cursor: pointer;
}

.category-panel li.selected {
    color: var(--selected-orange);
}

ul {
    padding-left: 20px;
}

ul input.checkbox {
    display: inline-block;
}

.button-group {
    text-align: center;
}

.button-group > button {
    display: inline-block;
    margin: auto 10px;
}

.export-btn {
    display: inline-block;
    margin-top: 10px;
    margin-right: 60px;
    padding: 6px;
    line-height: 28px;
    border-radius: 3px;
    border: none !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: var(--button-text-orange);
    color: var(--white) !important;
}

.dataTables_filter > label > input {
    font-size: 14px;
    line-height: 20px;
    color: var(--text-grey);
    padding: 6px;
    border: 1px solid var(--boder-grey);
}

#DataTables_Table_0_length {
    float: right;
    padding-top: 10px;
}

#DataTables_Table_0_filter {
    float: left;
    margin-bottom: 10px;
}
